spring:
  application:
    name: warehouse
  config:
    import: 'configserver:'
  cloud:
    config:
      discovery:
        enabled: true
        serviceId: config-server
      fail-fast: true
      retry:
        useRandomPolicy: true
        max-interval: 6000

eureka:
  client:
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka/

warehouse:
  address:
    country: "Russia"
    city: "Moscow"
    street: "Arbat"
    house: "14"
    flat: "1"